<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>Bluesat Groundstation Controller</title>
      <meta name="description" content="Bluesat Groundstation Controller.">
      <meta name="author" content="Luke Prior">

      <link rel="icon" href="static/img/favicon.ico">
      <link rel="apple-touch-icon" href="static/img/apple-touch-icon.png">
   </head>
   <body>
      <p>Hello World!</p>
   </body>
   <script type="text/javascript" src="static/js/utilities.js"></script>
   <script type="text/javascript" src="static/js/index.js"></script>
</html>